!!!
%html
  %head
    %title Sudoku Game
    %link{ href: '/stylesheets/application.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' }
    %script
      $(document).ready( function(){ $("#flash").delay(3000).slideUp(1000); } );
  %body
    %h1 Sudoku
    %div#difficulty
      = @difficulty.capitalize
    %div#flash
      = flash[:notice]
    = yield
    %div#options
      %a{ href: '/solution' } Show the solution
      %a{ href: '/restart_puzzle' } Restart this puzzle
      %a{ href: '/new_puzzle' } Start a new puzzle
      - alternative = @difficulty == :easy ? 'hard' : 'easy'
      %a{ href: "/new_puzzle?difficulty=#{alternative}" }
        = "Switch to #{alternative.capitalize}"
    %div#footer
      %p
        Built by Josh Hill at
        %a{ href: 'http://www.makersacademy.com' } Makers Academy
        using
        %a{ href: 'https://www.ruby-lang.org' } Ruby
        and
        %a{ href: 'http://www.sinatrarb.com' } Sinatra
      %p
        %a{ href: 'https://github.com/jamesjoshuahill/sudoku-sinatra' } Source code
        available on GitHub